# MAX Bot Token 
BOT_TOKEN=f9LHodD0cOJJjXSfL5FL1M226hSUJ0T0ToF7J1WDX1fgqkiS_6ahPjqiQ4cJn2YrvEdgZo8_OKx0suz0INIC

# Bot Username
BOT_USERNAME=t257_hakaton_bot

# API Server
PORT=3000

# Database (PostgreSQL - всегда включен)
DB_HOST=postgres
DB_PORT=5432
DB_NAME=focus_pods
DB_USER=postgres
DB_PASSWORD=postgres

# Settings
DEBUG=false

